@import "tailwindcss";

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2079EB;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1861c2;
}